<% include partials/header.ejs %>

<% var found = "false"; %>

<% notes.forEach(function(note){ %>
    <% if( note.author.id.equals(user._id) ){ %>
        <% found = "true"; %>
    <% } %>
<% }); %>

<% if( found == "true" ){ %>

    <div class="home-container">
        <div class="row">
            <div class="row">
                <div class="notes-container">
                    <div>
                        <h1>Welcome back, <%= user.username %> ! Your Notes!!
                        <a href="/<%= user._id %>/notes/new"><i class="fa fa-plus"></i></a>
                        </h1>
                    </div>
                </div>

                <div id="filters-container" class="cbp-l-filters-alignCenter">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                        ALL NOTES<div class="cbp-filter-counter"></div>
                    </div> /
                    <div data-filter=".blank" class="cbp-filter-item">
                        BLANK NOTES <div class="cbp-filter-counter"></div>
                    </div> /
                    <div data-filter=".lecture" class="cbp-filter-item">
                        LECTURE NOTES <div class="cbp-filter-counter"></div>
                    </div> /
                    <div data-filter=".to-do" class="cbp-filter-item">
                        TO-DO LIST <div class="cbp-filter-counter"></div>
                    </div> /
                    <div data-filter=".meeting" class="cbp-filter-item">
                        MEETING NOTES <div class="cbp-filter-counter"></div>
                    </div> /
                    <div data-filter=".motion" class="cbp-filter-item">
                        PLANNER <div class="cbp-filter-counter"></div>
                    </div>
                </div>

                
                <div class="col-md-offset-1 col-md-10 col-sm-6 allNotes">
                    <section id="works" class="page-content">

                        <div id="grid-container" class="cbp">
                            
                            <% notes.forEach(function(note){ %>
                                <% if( note.author.id.equals(user._id) ){ %>

                                    <% if( note.type == "blank" ){ %>
                                        <div class="cbp-item blank">
                                            <div class="cbp-caption" style="float: left;">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="/images/blank.jpg" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignLeft">
                                                        <div class="cbp-l-caption-body">
                                                            <div class="cbp-l-caption-title"><%- note.title %></div>
                                                            <div class="cbp-l-caption-desc"><%- note.description %></div>
                                                        </div>
                                                    </div>
                                                    <div class="formatting">
                                                        <span id="delete">
                                                            <form id="delete-form" action="/<%= user._id %>/notes/<%= note._id %>?_method=DELETE" method="POST">
                                                                <button >
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </form>                                    
                                                        </span>
                                                        <span id="edit">
                                                            <a href="/<%= user._id %>/notes/<%= note._id %>/edit">
                                                                <i class="fa fa-edit"></i>
                                                            </a>            
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } else if( note.type == "lecture" ){ %>
                                        <div class="cbp-item lecture">
                                            <div class="cbp-caption" style="float: left;">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="/images/lecture.jpg" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignLeft">
                                                        <div class="cbp-l-caption-body">
                                                            <div class="cbp-l-caption-title"><%- note.title %></div>
                                                            <div class="cbp-l-caption-desc"><%- note.description %></div>
                                                        </div>
                                                    </div>
                                                    <div class="formatting">
                                                        <span id="delete">
                                                            <form id="delete-form" action="/<%= user._id %>/notes/<%= note._id %>?_method=DELETE" method="POST">
                                                                <button >
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </form>                                    
                                                        </span>
                                                        <span id="edit">
                                                            <a href="/<%= user._id %>/notes/<%= note._id %>/edit">
                                                                <i class="fa fa-edit"></i>
                                                            </a>            
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } else if( note.type == "to-do" ){ %>
                                        <div class="cbp-item to-do">
                                            <div class="cbp-caption" style="float: left;">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="/images/todo.jpg" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignLeft">
                                                        <div class="cbp-l-caption-body">
                                                            <div class="cbp-l-caption-title">TO-DO LIST!</div>
                                                            <% note.todos.forEach(function(todo){ %>
                                                                <li class="cbp-l-caption-desc"><%= todo %></li>
                                                            <% }) %>
                                                        </div>
                                                    </div>
                                                    <div class="formatting">
                                                        <span id="delete">
                                                            <form id="delete-form" action="/<%= user._id %>/notes/<%= note._id %>?_method=DELETE" method="POST">
                                                                <button >
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </form>                                    
                                                        </span>
                                                        <span id="edit">
                                                            <a href="/<%= user._id %>/notes/<%= note._id %>/edit">
                                                                <i class="fa fa-edit"></i>
                                                            </a>            
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    <% } else if( note.type == "meeting" ){ %>
                                        <div class="cbp-item meeting">
                                            <div class="cbp-caption" style="float: left;">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="/images/meeting.jpg" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignLeft">
                                                        <div class="cbp-l-caption-body">
                                                            <div class="cbp-l-caption-title"><%- note.title %></div>
                                                            <div class="cbp-l-caption-desc"><%- note.meetingDate %></div>
                                                            <div class="cbp-l-caption-desc"><%- note.meetingAgenda %></div>
                                                            <div class="cbp-l-caption-desc"><%- note.meetingAttendees %></div>
                                                        </div>
                                                    </div>
                                                    <div class="formatting">
                                                        <span id="delete">
                                                            <form id="delete-form" action="/<%= user._id %>/notes/<%= note._id %>?_method=DELETE" method="POST">
                                                                <button >
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </form>                                    
                                                        </span>
                                                        <span id="edit">
                                                            <a href="/<%= user._id %>/notes/<%= note._id %>/edit">
                                                                <i class="fa fa-edit"></i>
                                                            </a>            
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <% } else if( note.type == "planner" ){ %>
                                    <% } %>

                                <% } %>
                            <% }); %>
                        </div> 
                    </section>   
                </div>  
            </div>
        </div>
    </div>
 
<% } else{ %>
    <div class="no-notes">
        <div class="hero-image">
            <div class="col-md-offset-2 col-md-8 no-notes-container">
                <h1>Hello, <%= user.username %> !</h1>
                <div class="thumbnail">
                    <div class="img-container">
                        <img class="avatar" src="<%= user.image%>" alt="Avatar">
                    </div>
                </div>
                <h3>You haven't created any notes yet!</h3>
                <a href="/<%= user._id %>/notes/new" class="btn">Create Now!</a>
                <br />
                <a href="/<%= user._id %>/notes/new">
                    <button class="pulse-button-hover">
                        <i class="fa fa-sticky-note"></i>
                    </button>
                </a>
                <a href="/<%= user._id %>/notes/new">
                    <button class="pulse-button-hover">
                        <i class="fa fa-handshake"></i>
                    </button>
                </a>
                <a href="/<%= user._id %>/notes/new">
                    <button class="pulse-button-hover">
                        <i class="fa fa-id-card"></i>
                    </button>
                </a>
                <a href="/<%= user._id %>/notes/new">
                    <button class="pulse-button-hover">
                        <i class="fa fa-file-word"></i>
                    </button>
                </a>
                <a href="/<%= user._id %>/notes/new">
                    <button class="pulse-button-hover">
                        <i class="fa fa-calendar-alt"></i>
                    </button>
                </a>
                <a href="/<%= user._id %>/notes/new">
                    <button class="pulse-button-hover">
                        <i class="fa fa-clipboard-list"></i>
                    </button>
                </a>
                <!-- <button class="pulse-button-hover">
                    <a href="/<%= user._id %>/notes/new">
                        <i class="fa fa-handshake"></i>
                    </a>
                </button>
                <button class="pulse-button-hover">
                    <a href="/<%= user._id %>/notes/new">
                        <i class="fa fa-clipboard-list"></i>
                    </a>
                </button>
                <button class="pulse-button-hover">
                    <a href="/<%= user._id %>/notes/new">
                        <i class="fa fa-calendar-alt"></i>
                    </a>
                </button>
                <button class="pulse-button-hover">
                    <a href="/<%= user._id %>/notes/new">
                        <i class="fa fa-file-word"></i>
                    </a>
                </button>
                <button class="pulse-button-hover">
                    <a href="/<%= user._id %>/notes/new">
                        <i class="fa fa-id-card"></i>
                    </a>
                </button> -->
            </div>
        </div>
    </div>
<% } %> 

<% include partials/footer.ejs %>

