<% include partials/header.ejs %>

<div class="notes-container">
    <div id="body-row">
        <div id="sidebar-container" class="sidebar-collapsed d-none d-md-block">
            <ul class="list-group">
                <a href="#" id="collapse-container" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                        <span id="collapse-text" class="menu-collapsed">Collapse</span>
                    </div>
                </a>
                <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-clipboard fa-fw mr-3"></span> 
                        <span class="menu-collapsed new-note-dropdown show-text">New Note</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <div id='submenu1' class="collapse sidebar-submenu">
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">
                            <div class="note blank">
                                <div>
                                    <!-- BLANK NOTE -->
                                    <i class="fa fa-sticky-note"></i>
                                </div>
                            </div>
                        </span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">
                            <div class="note to-do">
                                <div>
                                    <!-- TO-DO LIST -->
                                    <i class="fa fa-clipboard-list"></i>
                                </div>
                            </div>
                        </span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">
                            <div class="note lecture">
                                <div>
                                    <!-- LECTURE NOTES -->
                                    <i class="fa fa-file-word"></i>
                                </div>
                            </div>
                        </span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">
                            <div class="note meeting">
                                <div>
                                    <!-- MEETING NOTES -->
                                    <i class="fa fa-handshake"></i>
                                </div>
                            </div>
                        </span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">
                            <div class="note planner">
                                <div>
                                    <!-- SCHEDULE PLANNER -->
                                    <i class="fa fa-calendar-alt"></i>
                                </div>
                            </div>
                        </span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">
                            <div class="note daily-reflection">
                                <div>
                                    <!-- DAILY REFLECTION -->
                                    <i class="fas fa-cloud-sun"></i>
                                </div>
                            </div>
                        </span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">
                            <div class="note meal-planner">
                                <div>
                                    <!-- MEAL PLANNER -->
                                    <i class="fas fa-utensils"></i>
                                </div>
                            </div>
                        </span>
                    </a>
                </div>
            </ul>
        </div>
    </div>

    <div class="container">

        <!-- BLANK NOTES -->
        <div class="col-md-offset-2 col-md-9 blank-section" style="display: none;">
            <form action="/<%= user._id %>/notes" method="POST">
                <input type="text" name="note[type]" value="blank" style="display: none;">
                <div class="form-group">
                    <label for="title" class="sr-only"></label>
                    <input class="form-control" id="title" type="text" name="note[title]" value="Notes" placeholder="Notes Title" maxlength="50">
                </div> 
                <textarea class="js--trumbowyg" name="note[description]" value="Notes" placeholder="Start typing here..." style="text-align: left;">
                    &lt;placeholder&gt;Start typing here...&lt;/placeholder&gt;
                </textarea>
                <div class="form-group">
                    <button class="btn" type="submit">Save</button>
                </div> 
            </form>           
        </div>

        <!-- TODO LIST -->
        <div class="col-md-offset-2 col-md-9 to-do-section" style="display: none;">
            <form action="/<%= user._id %>/notes" method="POST">
                <div class="to-do-container">
                    <h1 >TO-DO LIST<i class="fa fa-plus"></i></h1>
                    <input type="text" name="note[type]" value="to-do" style="display: none;">
                    <div class="form-group" style="display: none;">
                        <label for="title" class="sr-only"></label>
                        <input class="form-control" id="title" type="text" name="note[title]" value="TO-DO LIST">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control to-do-input" placeholder="ADD TO-DO ITEMS...">
                        <ul class="to-do-ul">
                            <!-- <li class="to-do-li">
                                <input class="form-control to-do-input" type="text" name="note[todos]" placeholder="ADD TO-DO ITEMS...">
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn">Save!</button>
                </div>
            </form>
        </div>

        <!-- LECTURE NOTES -->
        <div class="col-md-offset-2 col-md-9 lecture-section" style="display: none;" >
            <form action="/<%= user._id %>/notes" method="POST">                
                <input type="text" name="note[type]" value="lecture" style="display: none;">
                <div class="form-group">
                    <label for="title" class="sr-only"></label>
                    <input class="form-control" id="title" type="text" name="note[title]" value="Lecture Notes" placeholder="Lecture Title" maxlength="50">
                </div>  
                <textarea class="js--trumbowyg" name="note[description]">
                    &lt;strong&gt;Course:&lt;/strong&gt;
                    &lt;br /&gt;
                    &lt;strong&gt;Professor:&lt;/strong&gt;
                </textarea>
                <div class="row">
                    <button class="btn" type="submit">Save</button>
                </div> 
            </form>               
        </div>

        <!-- MEETING NOTE -->
        <div class="col-md-offset-2 col-md-9 meeting-section">
            <form action="/<%= user._id %>/notes" method="POST" >
                <input type="text" name="note[type]" value="meeting"  style="display: none;" >                
                <div class="form-group title-container">
                    <label for="title" class="sr-only"></label>
                    <input class="form-control" id="title" type="text" name="note[title]" value="Meeting Notes" placeholder="Meeting Title" maxlength="80">
                </div>           
                <div class="form-group">
                    <label for="meetingDate">Date: </label>
                    <input class="form-control" id="meetingDate" type="date" name="note[meetingDate]" placeholder="Meeting Date">
                </div>
                <div class="form-group">                
                    <label for="meetingAgenda">Agenda:</label>
                    <textarea class="form-control" id="meetingAgenda" name="note[meetingAgenda]" placeholder="What's the meeting agenda?!"></textarea>
                </div>
                <div class="form-group">
                    <label for="meetingAttendees">Attendees:</label>
                    <textarea class="form-control" id="meetingAttendees" name="note[meetingAttendees]" placeholder="Attendees at the meeting..."></textarea>
                </div>

                <table id="tblData">          
                    <thead>
                        <tr>
                            <th>
                                <div>
                                    <a id="btnAdd"><i class="fa fa-plus"></i></a>
                                </div>
                                Action Item
                            </th>
                            <th>Assignee</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="btnDelete"><i class="fa fa-trash"></i></span>
                                <input type='text' name='note[meetingAction]' />
                            </td>
                            <td><input type='text' name='note[meetingAssignee]' /></td>
                            <td><input type='text' name='note[meetingStatus]' /></td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <button class="btn" type="submit">Save</button>
                </div> 
            </form>
        </div>

        <!-- SCHEDULE PLANNER -->
        <!-- <div class=" col-md-12 planner-section" id="planner-section">
            <h1>SCHEDULE PLANNER</h1>
            <div class="site-header autocomplete">
                <div class="input-wrapper">
                    <input type="text" placeholder="Search" class="search-field">
                    <span class="close">Cancel</span>
                    <div class="focus-background"></div>
                </div>
                <div class="dialog"></div>
            </div>
            
            <div id='calendar'></div>
              
                <form action="/<%= user._id %>/notes" method="POST" id="eventForm" class="eventForm">

                    <input type="text" name="note[type]" value="planner" style="display: none;" >
                    <div class="form-group title-container" style="display: none;">
                        <label for="title" class="sr-only"></label>
                        <input class="form-control" id="title" type="text" name="note[title]" value="Scheduler">
                    </div> 

                    <div class="modal" id="eventModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
            
                                <div class="m-header">
                                    <button class="close" data-dismiss="modal">&times;</button>
                                    <h4 id="myModalLabel"> Add Event </h4>
                                    <br />
                                </div>
            
                                <div class="inputs">
            
                                    <ul>
                                        <li>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon"><i class="fa fa-bell-o" aria-hidden="true"></i></span>
                                                <label for="event-start">From:</label>
                                                <input type="datetime-local" class="form-control" id="event-start" name="note[eventStart]" required>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bell-slash" aria-hidden="true"></i></span>
                                                <label for="event-end">To:</label>
                                                <input type="datetime-local" class="form-control" id="event-end" name="note[eventEnd]" required>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                                                <label for="event-title">Event Name:</label>
                                                <input type="text" class="form-control" id="event-title" name="note[eventTitle]" required>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                <label for="event-location">Location:</label>
                                                <input type="text" class="form-control" id="event-location" name="note[eventLocation]">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                                <label for="event-details">Description:</label>
                                                <textarea class="form-control" id="event-details" name="note[eventDescription]"></textarea>
                                            </div>
                                        </li>
                                        <div class="button">
                                            <input type="submit" class='form-control btn submit_btn'/>
                                        </div>
                                    </ul>
                                
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            
                <div id="calendar-popup">

                <form id="event-form">
                    <div class='calender_popup_title'>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        Add Event
                    </div>
                    <ul>
                        <li>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-bell-o" aria-hidden="true"></i></span>
                                <label for="event-start">From:</label>
                                <input type="datetime-local" class="form-control" id="event-start" name="note[eventStart]" required>
                            </div>
                        </li>
                        <li>
                            <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-bell-slash" aria-hidden="true"></i></span>
                                <label for="event-end">To:</label>
                                <input type="datetime-local" class="form-control" id="event-end" name="note[eventEnd]" required>
                            </div>
                        </li>
                        <li>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                                <label for="event-title">Event Name:</label>
                                <input type="text" class="form-control" id="event-title" name="note[eventTitle]" required>
                            </div>
                        </li>
                        <li>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <label for="event-location">Location:</label>
                                <input type="text" class="form-control" id="event-location" name="note[eventLocation]">
                            </div>
                        </li>
                        <li>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                <label for="event-details">Description:</label>
                                <textarea class="form-control" id="event-details" name="note[eventDescription]"></textarea>
                            </div>
                        </li>
                        <div class="button">
                            <a class='form-control btn submit_btn'>Submit</a>
                            <input type="submit" class='form-control btn submit_btn'/>
                        </div>
                    </ul>
                </form>
                            
                <div id="event">
                    <header></header>
                    <ul>
                        <li class="start-time"> 
                            <p>Start at:</p>
                            <time></time>
                        </li>
                        <li class="end-time">
                            <p>End:</p>
                            <time></time>
                        </li>
                        <li>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Location:</p>
                            <p class="location"></p>
                        </li>
                        <li>
                            <p><i class="fa fa-info" aria-hidden="true"></i>Description:</p>
                            <p class="details"></p>
                        </li>
                    </ul>
                    
                </div>
                        
                <div class="prong">
                    <div class="bottom-prong-dk"></div>
                    <div class="bottom-prong-lt"></div>
                </div>
                </div>

            <div id="delete-event">
                <div class="modal" id="deleteEventModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
        
                            <div class="m-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h5 id="myModalLabel"> Do you wish to delete the event?! </h5>
                                <br/>
                            </div>
        
                            <div class="footer">
                                                        <a href="#" class="delete-btn">
            
                                <button type="submit" class="btn" name="form" value="delete" data-dismiss="modal">Yes!</button></a>
                                <button class="btn" data-dismiss="modal">No!</button>        
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>

            <div class='modle' id='simplemodal'>
                <div class='modle-continer'>
                    <form id="edit-form">
                
                    <div class='modal-header'>
                        <span class='close-btn' id='close-btnid'>&times</span>
                    <h2>Edit Event</h2>
                    </div>
                    <div class='modal-body'>
                
                    <lable for='eventname'>Event Name</lable>
                    <input type='text' name='eventname' id='eventname' class='form-control'>
                    <lable for='location'>Location</lable>
                    <input type='text' name='location' id='location' class='form-control'>
                    
                    <label for="event-start">From</label><input id="eventstart" type="datetime-local" name="start" class='form-control'/>
                    
                    <label for="event-end">To</label>
                        <input id="eventend" type="datetime-local" name="end" class='form-control'/>
                    <label for="event-details">Details</label>
                    <textarea id="eventdetails" type='text' name="details"  class='form-control'></textarea>
                    
                    </div>
                    <div class='modal-footer'>
                    <button type='submit' class='btn btn-info'>save</button>
                    <button class='btn btn-dafault'>cancel</button>
                    
                    </div>
                    </form>
                </div>
            </div>
                        
            <div id='search_result'>result</div>
        </div> -->

        <!-- DAILY REFLECTION -->
        <div class="col-md-offset-2 col-md-9 daily-reflection-section" style="display: none;">
            <form action="/<%= user._id %>/notes" method="POST">
                <h1 >DAILY REFLECTION...</h1>
                <input type="text" name="note[type]" value="daily-reflection" style="display: none;">
                <div class="form-group title-container" style="display: none;">
                    <label for="title" class="sr-only"></label>
                    <input class="form-control" id="title" type="text" name="note[title]" value="DAILY REFLECTION">
                </div>
                <div class="form-group">
                    <label id="dateLabel" for="date">Date:</label>
                    <input class="form-control" id="date" type="date" name="note[startDate]">
                </div> 
                <div class="form-group">
                    <label for="dailyReflection">
                        <i class="fas fa-grin-beam"></i>
                        What went well today?!
                    </label>
                    <textarea class="form-control" id="dailyReflection" name="note[dailyReflection]" placeholder="Start typing..." style="text-align: left;"></textarea>
                </div>
                <div class="form-group">
                    <label for="dailyReflection">
                        <i class="fas fa-meh"></i>
                        What didn't go as planned?!
                    </label>
                    <textarea class="form-control" id="dailyReflection" name="note[dailyReflection]" placeholder="Start typing..." style="text-align: left;"></textarea>
                </div>
                <div class="form-group">
                    <label for="dailyReflection">
                        <i class="fas fa-meh-rolling-eyes"></i>
                        What can be improved upon?!
                    </label>
                    <textarea class="form-control" id="dailyReflection" name="note[dailyReflection]" placeholder="Start typing..." style="text-align: left;"></textarea>
                </div>
                <div class="form-group">
                    <label for="dailyReflection">
                        <i class="fas fa-graduation-cap"></i>
                        What's on your mind?!</label>
                    <textarea class="form-control" id="dailyReflection" name="note[dailyReflection]" placeholder="Start typing..." style="text-align: left;"></textarea>
                </div>
                <div class="form-group submit-btn">
                    <button class="btn" type="submit">Save</button>
                </div> 
            </form>           
        </div>

        <!-- MEAL PLANNER -->
        <div class="col-md-offset-2 col-md-9 meal-planner-section" style="display: none;">
            <form action="/<%= user._id %>/notes" method="POST">
                <h1 >MEAL PLANNER...</h1>
                <input type="text" name="note[type]" value="meal-planner" style="display: none;" >
                <div class="form-group title-container" style="display: none;">
                    <label for="title" class="sr-only"></label>
                    <input class="form-control" id="title" type="text" name="note[title]" value="Meal Planner">
                </div>
                <div class="form-group">
                    <label id="dateLabel" for="date">Week Start Date:</label>
                    <input class="form-control" id="date" type="date" name="note[startDate]">
                </div>           
                <table id="tblData">          
                    <thead>
                        <tr>
                            <th></th>
                            <th>Breakfast</th>
                            <th>Lunch</th>
                            <th>Dinner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="day">Sunday</td>
                            <td><input type='text' name='note[meal1]' /></td>
                            <td><input type='text' name='note[meal2]' /></td>
                            <td><input type='text' name='note[meal3]' /></td>
                        </tr>
                        <tr>
                            <td class="day">Monday</td>
                            <td><input type='text' name='note[meal1]' /></td>
                            <td><input type='text' name='note[meal2]' /></td>
                            <td><input type='text' name='note[meal3]' /></td>
                        </tr>
                        <tr>
                            <td class="day">Tuesday</td>
                            <td><input type='text' name='note[meal1]' /></td>
                            <td><input type='text' name='note[meal2]' /></td>
                            <td><input type='text' name='note[meal3]' /></td>
                        </tr>
                        <tr>
                            <td class="day">Wednesday</td>
                            <td><input type='text' name='note[meal1]' /></td>
                            <td><input type='text' name='note[meal2]' /></td>
                            <td><input type='text' name='note[meal3]' /></td>
                        </tr>
                        <tr>
                            <td class="day">Thursday</td>
                            <td><input type='text' name='note[meal1]' /></td>
                            <td><input type='text' name='note[meal2]' /></td>
                            <td><input type='text' name='note[meal3]' /></td>
                        </tr>
                        <tr>
                            <td class="day">Friday</td>
                            <td><input type='text' name='note[meal1]' /></td>
                            <td><input type='text' name='note[meal2]' /></td>
                            <td><input type='text' name='note[meal3]' /></td>
                        </tr>

                        <tr>
                            <td class="day">Saturday</td>
                            <td><input type='text' name='note[meal1]' /></td>
                            <td><input type='text' name='note[meal2]' /></td>
                            <td><input type='text' name='note[meal3]' /></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <button class="btn" type="submit">Save</button>
                </div> 
            </form>
        </div>

    </div>
</div>
<!-- 
<script type="text/javascript">
   var a = "<%= note.type%>";
</script> -->

<% include partials/footer.ejs %>
