<% include partials/header.ejs %>
<div class="user-profile">
    <div class="hero-image">
        <div class="container">
            <div class="row">               
                <form action="/<%= user._id %>/profile/profileImg" method="POST" enctype="multipart/form-data">     
                    <div class="col-md-offset-1 col-md-4 profile">
                        <div class="thumbnail">
                            <div class="img-container">
                                <img class="avatar" src="<%=user.image%>" alt="Avatar">
                                
                            </div>
                        </div>
                        <!-- <div class="caption">
                            Hi, <%= user.username%>
                        </div> -->
                        <div class="form-group">
                            <!-- <p> -->
                            <!-- <% if(user.image === "https://previews.123rf.com/images/tanyastock/tanyastock1803/tanyastock180300490/97923644-user-icon-avatar-login-sign-circle-button-with-soft-color-gradient-background-vector-.jpg"){%>
                                    Add profile image!
                            <% } else{ %>
                                    Change profile image!
                            <% } %> -->
                            <br />
                            <label for="image" >
                                <input type="file" id="image" name="image" accept="image/*" capture class="hidden">
                                <img src="http://macgroup.org/blog/wp-content/uploads/2011/10/iphone-camera-icon-150x150.jpg" alt="">        
                                <br />
                                <span id="filename">
                                    Choose a file...
                                </span>
                            </label>
                            <!-- </p> -->
                        </div>
                    </div>
                    <div class="col-md-7 inputs">
                        <div class="header">
                            <h1>My Profile</h1>
                            <i class="fa fa-id-card pull-right"></i>
                        </div>
                        <div class="form-group">
                            <label for="username">Username </label>
                            <input class="form-control" type="text" id="username" name="user[username]" placeholder="Username" value="<%= user.username%>" disabled>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="user[email]" placeholder="email" value="<%= user.email%>" disabled>
                        </div>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input class="form-control" type="text" id="firstName" name="user[firstName]" placeholder="First Name" value="<%= user.firstName%>">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input class="form-control" type="text" id="lastName" name="user[lastName]" placeholder="Last Name" value="<%= user.lastName%>">
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select class="form-control" name="user[gender]" id="gender" value="<%= user.gender%>">
                                <!-- <option value="<%= user.gender%>"> <%= user.gender%> </option> -->
                                <option name="male" value="male">Male</option>
                                <option name="female" value="female">Female</option>
                                <option name="none" value="none">Prefer not to say</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="contact">Contact</label>
                            <input class="form-control" type="number" id="contact" name="user[contact]" placeholder="Contact Number" value="<%= user.contact%>">
                        </div>
                        <div class="form-group">
                            <label for="bio">Bio</label>
                            <textarea class="form-control bio" id="bio" name="user[bio]" placeholder="Tell us about yourself!" rows="10" maxlength="500"><%= user.bio%></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-5 col-md-2">
                                <div class="form-group submit">
                                    <button class="btn">Submit</button>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="/<%= user._id %>/notes">Go BACK</a> -->
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<% include partials/footer.ejs %>