<% include ../partials/header %>

<!-- NOTES CONTAINER -->
<div class="container edit">
    <div class="row">

        <% if( note.type == "blank" ){ %>

            <!-- BLANK NOTES -->
            <div class="col-md-offset-2 col-md-8 blank-section">
                <form action="/<%= user_id %>/notes/<%= note._id %>?_method=PUT" method="POST">
                    <!-- NOTE TYPE -->
                    <input type="text" name="note[type]" value="blank" style="display: none;">
                    <!-- NOTE TITLE -->
                    <div class="form-group">
                        <label for="title" class="sr-only"></label>
                        <input class="form-control" id="title" type="text" name="note[title]" placeholder="Notes Title" value="<%= note.title %>" maxlength="50">
                    </div> 
                    <!-- NOTE DESCRIPTION -->
                    <div class="form-group">
                        <textarea class="js--trumbowyg" name="note[description]" placeholder="Start typing here..." style="text-align: left;">
                            <%= note.description %>
                        </textarea>
                    </div>
                    <!-- SUBMIT BUTTON -->
                    <div class="form-group button-container">
                        <button type="submit" class="button save">Save</button>
                    </div>
                </form>           
            </div>
            <!-- // BLANK NOTES -->

        <% } else if( note.type == "to-do" ){%>

            <!-- TODO LIST -->
            <div class="col-md-offset-1 col-md-10 to-do-section">  
                <form action="/<%= user_id %>/notes/<%= note._id %>?_method=PUT" method="POST">
                    <div class="to-do-container to-do-container-edit">
                        <h1 >TO DO LIST<i class="fa fa-plus"></i></h1>
                         <!-- NOTE TYPE -->
                        <input type="text" name="note[type]" value="to-do" style="display: none;">
                        <!-- NOTE TITLE -->
                        <div class="form-group" style="display: none;">
                            <label for="title" class="sr-only"></label>
                            <input class="form-control" id="title" type="text" name="note[title]" value="<%= note.title %>">
                        </div>
                        <!-- TO-DOs -->
                        <div class="form-group">
                            <input type="text" class="form-control to-do-input" placeholder="ADD TO-DO ITEMS...">
                            <ul class="to-do-ul">
                                <% note.todos.forEach(function(todo){ %>
                                <li class="to-do-li">
                                    <span class="to-do-span" style="float: left;"><i class="fa fa-trash"></i></span>
                                    <input class="form-control to-do-input-edit" type="text" name="note[todos]" value="<%- todo %>">
                                </li> 
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                    <!-- SUBMIT BUTTON -->
                    <div class="form-group button-container">
                        <button type="submit" class="button save">Save</button>
                    </div>
                </form>
            </div>
            <!-- // TODO LIST -->
            
        <% } else if( note.type == "lecture" ){%>

            <!-- LECTURE NOTES -->
            <div class="col-md-offset-2 col-md-9 lecture-section" >
                <form action="/<%= user_id %>/notes/<%= note._id %>?_method=PUT" method="POST">
                    <h1>TO-DO LIST<i class="fa fa-plus"></i></h1>
                    <!-- NOTE TYPE -->
                    <input type="text" name="note[type]" value="lecture" style="display: none;">
                    <!-- NOTE TITLE -->
                    <div class="form-group" style="display: none;">
                        <label for="title" class="sr-only"></label>
                        <input class="form-control" id="title" type="text" name="note[title]" placeholder="Lecture Notes" value="<%= note.title %>" maxlength="50">
                    </div> 
                    <!-- NOTE DESCRIPTION -->
                    <div class="form-group">
                        <textarea class="js--trumbowyg" name="note[description]">
                            <%= note.description %>
                        </textarea>
                    </div> 
                    <!-- SUBMIT BUTTON -->
                    <div class="form-group button-container">
                        <button type="submit" class="button save">Save</button>
                    </div> 
                </form>               
            </div>
            <!-- // LECTURE NOTES -->

        <% } else if( note.type == "meeting" ){%>

            <!-- MEETING NOTE -->
            <div class="col-md-offset-2 col-md-9 meeting-section">
                <form action="/<%= user_id %>/notes/<%= note._id %>?_method=PUT" method="POST">
                    <!-- NOTE TYPE -->
                    <input type="text" name="note[type]" value="meeting" style="display: none;">
                    <!-- NOTE TITLE -->
                    <div class="form-group title-container">
                        <label for="title" class="sr-only"></label>
                        <input class="form-control" id="title" type="text" name="note[title]" placeholder="Meeting Title" value="<%= note.title %>" maxlength="80">
                    </div>          
                    <!-- MEETING DATE --> 
                    <div class="form-group">
                        <label for="meetingDate">Date: </label>
                        <input class="form-control" id="meetingDate" type="date" name="note[meetingDate]" value="<%= note.meetingDate %>">
                    </div>
                    <!-- MEETING AGENDA -->
                    <div class="form-group">                
                        <label for="meetingAgenda">Agenda:</label>
                        <textarea class="form-control" id="meetingAgenda" name="note[meetingAgenda]"><%= note.meetingAgenda %></textarea>
                    </div>
                    <!-- MEETING ATTENDEES -->
                    <div class="form-group">
                        <label for="meetingAttendees">Attendees:</label>
                        <textarea class="form-control" id="meetingAttendees" name="note[meetingAttendees]"><%= note.meetingAttendees %></textarea>
                    </div>

                    <!-- MEETING DETAILS -->
                    <table id="tblData">          
                        <thead>
                            <tr>
                                <th>
                                    <div><a id="btnAdd"><i class="fa fa-plus"></i></a></div>
                                    Action Item
                                </th>
                                <th>Assignee</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < note.meetingAction.length; i++){ %>
                                <tr >
                                    <td>
                                        <span class="btnDelete"><i class="fa fa-trash"></i></span>
                                        <input type='text' name='note[meetingAction]' value="<%= note.meetingAction[i] %>" />
                                    </td>
                                    <td><input type='text' name='note[meetingAssignee]' value="<%= note.meetingAssignee[i] %>" /></td>
                                    <td><input type='text' name='note[meetingStatus]' value="<%= note.meetingStatus[i] %>" /></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
    
                    <!-- SUBMIT BUTTON -->
                    <div class="form-group button-container">
                        <button type="submit" class="button save">Save</button>
                    </div>
                </form>
            </div>
            <!-- // MEETING NOTE -->

        <% } else if( note.type == "planner" ){%>

            <!-- SCHEDULE PLANNER -->
            <!-- <div class=" col-md-12 planner-section" id="planner-section">
                    <h1>SCHEDULE PLANNER</h1>
                    <div class="site-header autocomplete">
                        <div class="input-wrapper">
                            <input type="text" placeholder="Search" class="search-field">
                            <span class="close">Cancel</span>
                            <div class="focus-background"></div>
                        </div>
                        <div class="dialog"></div>
                    </div>
                    
                    <div id='calendar'></div>
                      
                    <form action="/<%= user_id %>/notes/<%= note._id %>?_method=PUT" method="POST" id="eventForm" class="eventForm">
        
                            <input type="text" name="note[type]" value="planner" style="display: none;" >
                            <div class="form-group title-container" style="display: none;">
                                <label for="title" class="sr-only"></label>
                                <input class="form-control" id="title" type="text" name="note[title]" value="Scheduler">
                            </div> 
        
                            <div class="modal" id="eventModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                    
                                        <div class="m-header">
                                            <button class="close" data-dismiss="modal">&times;</button>
                                            <h4 id="myModalLabel"> Add Event </h4>
                                            <br />
                                        </div>
                    
                                        <div class="inputs">
                    
                                            <ul>
                                                <li>
                                                    <div class="form-group input-group">
                                                        <span class="input-group-addon"><i class="fa fa-bell-o" aria-hidden="true"></i></span>
                                                        <label for="event-start">From:</label>
                                                        <input type="datetime-local" class="form-control" id="event-start" name="note[eventStart]" value="<%= note.eventStart %>">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-group input-group">
                                                            <span class="input-group-addon"><i class="fa fa-bell-slash" aria-hidden="true"></i></span>
                                                        <label for="event-end">To:</label>
                                                        <input type="datetime-local" class="form-control" id="event-end" name="note[eventEnd]" value="<%= note.eventEnd %>">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-group input-group">
                                                        <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                                                        <label for="event-title">Event Name:</label>
                                                        <input type="text" class="form-control" id="event-title" name="note[eventTitle]" value="<%= note.eventTitle %>">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-group input-group">
                                                        <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                        <label for="event-location">Location:</label>
                                                        <input type="text" class="form-control" id="event-location" name="note[eventLocation]" value="<%= note.eventLocation %>">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-group input-group">
                                                        <span class="input-group-addon"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                                        <label for="event-details">Description:</label>
                                                        <textarea class="form-control" id="event-details" name="note[eventDescription]"><%= note.eventDescription %></textarea>
                                                    </div>
                                                </li>
                                                <div class="button">
                                                    <input type="submit" class='form-control btn submit_btn'/>
                                                </div>
                                            </ul>
                                        
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                        </form>
                    
                        <div id="calendar-popup">
        
                        <div id="event">
                            <header></header>
                            <ul>
                                <li class="start-time"> 
                                    <p>Start at:</p>
                                    <time></time>
                                </li>
                                <li class="end-time">
                                    <p>End:</p>
                                    <time></time>
                                </li>
                                <li>
                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>Location:</p>
                                    <p class="location"></p>
                                </li>
                                <li>
                                    <p><i class="fa fa-info" aria-hidden="true"></i>Description:</p>
                                    <p class="details"></p>
                                </li>
                            </ul>
                            
                        </div>
                                
                        <div class="prong">
                            <div class="bottom-prong-dk"></div>
                            <div class="bottom-prong-lt"></div>
                        </div>
                        </div>
        
                    <div id="delete-event">
                        <div class="modal" id="deleteEventModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                
                                    <div class="m-header">
                                        <button class="close" data-dismiss="modal">&times;</button>
                                        <h5 id="myModalLabel"> Do you wish to delete the event?! </h5>
                                        <br/>
                                    </div>
                
                                    <div class="footer">
                                                                <a href="#" class="delete-btn">
                    
                                        <button type="submit" class="btn" name="form" value="delete" data-dismiss="modal">Yes!</button></a>
                                        <button class="btn" data-dismiss="modal">No!</button>        
                                    </div>
                                </div>
                            </div>
                
                        </div>
                    </div>
        
                    <div id='search_result'>result</div>
                </div> -->
            <!-- // SCHEDULE PLANNER -->
        
        <% } else if( note.type == "daily-reflection" ){%>

            <!-- DAILY REFLECTION -->
            <div class="col-md-offset-1 col-md-10 daily-reflection-section">
                <form action="/<%= user_id %>/notes/<%= note._id %>?_method=PUT" method="POST">
                    <!-- NOTE TYPE -->
                    <input type="text" name="note[type]" value="daily-reflection" style="display: none;">
                    <!-- NOTE TITLE -->
                    <div class="form-group title-container">
                        <label for="title" class="sr-only"></label>
                        <input class="form-control" id="title" type="text" name="note[title]" value="<%= note.title %>" placeholder="Daily Reflection">
                    </div>
                    <!-- DATE -->
                    <div class="form-group title-container">
                        <label id="dateLabel" for="date">Date:</label>
                        <input class="form-control" id="date" type="date" name="note[startDate]" value="<%= note.startDate %>">
                    </div> 
                    <!-- NOTE DESCRIPTION -->
                    <% var reflections = ["What went well today?!", "What didn't go as planned?!", "What can be improved upon?!", "What's on your mind?!"] %>
                    <% var icons = ['fas fa-grin-beam', 'fas fa-meh', 'fas fa-meh-rolling-eyes', 'fas fa-graduation-cap'] %>
                    <% for(var i=0; i < note.dailyReflection.length; i++){ %>
                        <div class="form-group">
                            <label for="dailyReflection">
                                <i class="<%= icons[i] %>"></i>
                                <%= reflections[i] %></label>
                            <textarea class="form-control" id="dailyReflection" name="note[dailyReflection]" style="text-align: left;"><%= note.dailyReflection[i] %></textarea>
                        </div>
                    <% } %>
                    <!-- SUBMIT BUTTON -->
                    <div class="form-group button-container">
                        <button type="submit" class="button save">Save</button>
                    </div>
                </form>           
            </div>
            <!-- // DAILY REFLECTION -->

        <% } else if( note.type == "meal-planner" ){%>

            <!-- MEAL PLANNER -->
            <div class="col-md-offset-1 col-md-10 meal-planner-section">
                <form action="/<%= user_id %>/notes/<%= note._id %>?_method=PUT" method="POST">
                    <!-- NOTE TYPE -->
                    <input type="text" name="note[type]" value="meal-planner"  style="display: none;" >
                    <!-- NOTE TITLE -->
                    <div class="form-group title-container">
                        <label for="title" class="sr-only"></label>
                        <input class="form-control" id="title" type="text" name="note[title]" value="<%= note.title %>" placeholder="Meal Planner">
                    </div>
                    <!-- WEEK DATE -->
                    <div class="form-group">
                        <label id="dateLabel" for="date">Week Start Date:</label>
                        <input class="form-control" id="date" type="date" name="note[startDate]" value="<%= note.startDate %>" maxlength="80">
                    </div>     
                    <!-- NOTE DESCRIPTION -->    
                    <table id="tblData"> 
                        <!-- MEAL -->         
                        <thead>
                            <tr>
                                <th></th>
                                <th>Breakfast</th>
                                <th>Lunch</th>
                                <th>Dinner</th>
                            </tr>
                        </thead>
                        <!-- WEEK DAYS -->
                        <tbody>
                            <% var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %>
                            <% for(var i=0; i < note.meal1.length; i++){ %>
                                <tr>
                                    <td class="day"><%= days[i] %></td>
                                    <td><input type='text' name='note[meal1]' value="<%= note.meal1[i] %>"/></td>
                                    <td><input type='text' name='note[meal2]' value="<%= note.meal2[i] %>"/></td>
                                    <td><input type='text' name='note[meal3]' value="<%= note.meal3[i] %>"/></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <!-- SUBMIT BUTTON -->
                    <div class="form-group button-container">
                        <button type="submit" class="button save">Save</button>
                    </div>
                </form>
            </div>
            <!-- // MEAL PLANNER -->

        <% } %>
    </div>
</div>
<!-- // NOTES CONTAINER -->

<% include ../partials/footer %>